.footer {
  background-color: #fff;
  text-align: center;
  gap: 2em;
  display: flex;
  justify-content: center;
}

.footer ul {
  list-style: none;
  margin-bottom: 3rem;
}

.footer li {
  padding: 0.5em;
  color: #69666c;
}

.footer p {
  text-align: left;
  width: 80%;
  font-size: 0.8em;
  color: #69666c;

}
