.articleWrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  margin-top: 10%;
}

.imageWrapper {
  min-width: 30rem;
  width: 90rem;
  overflow: hidden;
}

.articleWrapper figure img {
  width: 35rem;
  height: 20rem;
  transform: scale(1);
  transition: 0.6s ease-in-out;
}

.articleWrapper figure:hover img {
  transform: scale(1.1);
}

.articleWrapper span {
  font-family: "EB Goromond", serif;
  font-size: 1.5rem;
}

.articleWrapper p {
  display: flex;
  text-align: left;
}
