.button {
    cursor: pointer;
    font: inherit;
    font-size: 1.8em;
    font-weight: bold;
    border: none;
    background-color: #00A651;
    color: white;
    padding: 1.2rem 2.2rem;
    border-radius: 10px;
  }

  .button-wrap {
    display: flex;
    justify-content: center;
  }

  
  .button:hover,
  .button:active {
    background-color: rgb(20, 71, 45);
  }